<html>
    <body bgcolor="#FFFFFF">
        <br>
    <center>
        <table id="Table_01" width="655" border="0" cellpadding="0" cellspacing="0" style="box-shadow:0px 0px 7px #cccccc;text-align:center">
            <tr>
                <td  bgcolor="#ffffff">
                    <div style=" text-align:center;padding:20px 0;">
                        <a style="color:#000;text-decoration: none;" href="http://siteground.jagmodels.com" target="_blank"><img src="http://siteground.jagmodels.com/public/img/logo.png"></a>
                    </div>
                </td>
            </tr>
        </table>
        <table id="Table_01" width="655" border="0" cellpadding="0" cellspacing="0" style="box-shadow:0px 0px 7px #cccccc;text-align:center;background: none repeat scroll 0 0 #F3F3F3;">
           
            <tr>
                <td width="47" bgcolor="">&nbsp;</td>
                <td colspan="3">
                    <div style="border-bottom:solid 1px #9fa2a4; width:100%;margin:30px auto;padding-bottom:30px;text-align:center">
                        <span style="font-size: 30px;color:#757575;font-family:Helvetica, sans-serif">Package: {{name}}</span>
                    </div>
                    <p style="font-size: 19px; font-family: 'Arial', serif; margin: 40px auto;color:#8E9194">{{content}}</p>
                    <div style="border-top:1px solid #9fa2a4;text-align:center;">
                        <table width="100%">
                            <tr style="vertical-align:top;text-align:center">
                                <td width="62%"> <p style="font-size: 13px; font-family: Helvetica, serif; color:#878787">
                                    <div style='margin:50px 0;'>
                                    <a style="text-decoration: underline; color:#373737; font-size: 22px;" href="{{link}}" ping="{{ping}}">
                                        See Package
                                    </a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </td>
                <td width="47" bgcolor=""></td>
            </tr>
            <tr>
                <td width="47"  bgcolor="">&nbsp;</td>

                <td width="" colspan="3">
                    <table style="">
                        <tr>
                        <div style='margin: 40px auto;'>
                            {{images}}
                        </div>
                        </tr>
                    </table>

                </td>
                <td width="47" bgcolor=""></td>
            </tr>


            <tr>

                <td width="47"  bgcolor="#000000">&nbsp;</td>

                <td width="" colspan="3" bgcolor="#000000">
                  
                                <div style="color:#ffffff;font-family:helvetica;font-size:11px;text-align: center;margin:15px auto;"> JAG Models | 20 West 20th | Suite 905 | New York, NY 10011 | 646.398.9684</div>
                            
                </td>
                <td width="47" bgcolor="#000000"></td>
            </tr>
        </table>
        <br>
    </center>
</body>
</html>
